.element-header {
  font-size: 50px;
  font-weight: bold;
  color: mistyrose;
  margin-top: 20px;
}

.element-subheader {
  font-size: 30px;
  font-weight: bold;
  color: mistyrose;
  margin-top: 10px;
}