$card-border-radius: 0px;
$card-border-color: pink;  // Setzt den Rahmen auf pink
$card-title-color: pink;

  // Variables (optional, für bessere Wiederverwendbarkeit)
$navbar-bg-color: mistyrose; // Hintergrundfarbe des Containers
$navbar-item-bg-color: mistyrose; // Hintergrundfarbe der Navigationsleiste
$navbar-item-color: #000; // Textfarbe der Navigationselemente
$navbar-border-color: #000; // Rahmenfarbe
$navbar-padding: 10px; // Innenabstand der Navigationsleiste

$carousel-control-color: white;
